@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

h1 {
  font-size: 25px;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
}
/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

/*header*/
.logo {
  width: 7rem;
  height: 3rem;
}
.header{
  width: 91%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 4%;
}
.ins{
  display: none;
}

.navbar {
  color: #0065fc;
  display: flex; /*pour mettre les elements cote a cote*/
  justify-content: space-between; /* placer nos element sur l'axe principal dans ce cas un a gauche l'autre a droite*/
  align-items: center;
}
.bad{
  display: flex;
  align-items: center;

}
.navbar ul {
  display: flex;
  align-items: baseline; /* centrer sur l'axe secondaire*/
  list-style-type: none; /*enleve les points*/
}
.navbar ul li a {
  color: black;
  padding: 22px;
  margin-left: 20px;
  text-decoration: none;
  margin: 37px;
}
.navbar ul li a:hover {
  color: blue;
  border-top: 1px solid#0065FC;
}
#inscrire {
  color: blue;
  font-weight: bold;
  text-decoration: none;
  margin-left: 34px;
}
.box{
  margin-left: 4%;
}


a {
  cursor: pointer;
}
/* barre de recherche*/
.recherche {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.icon {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding: 13.5px;
}
.input {
  padding: 13px;
  border: 1px solid #f2f2f2;
}
.btn {
  cursor: pointer;
  background-color: #0065fc;
  border-radius: 0 15px 15px 0;
  padding: 14px;
  border: none;
  color: white;
}
.change{
  display: flex;
}

.btn:hover {
  background: #deebff;
  color: #0065fc;
}
.btnsearch .fas {
  display: none;
}
/* filtre boutons*/
.filtre {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  align-items: center;
  margin-left: 4%;
  margin-top: 25px;
}
.bouton1 {
  cursor: pointer;
  border-radius: 2rem;
  margin-left: 25px;
  font-size: 16px;
  background: transparent;
  border: 2px solid #f2f2f2;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 22px;
  padding-right: 59px;

  
}
.btnf{
  color: #0065fc;
  background-color: #deebff;
  padding: 15px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: -22px;
}

/* .aioli {
  cursor: pointer;
  border-radius: 50%;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-left: -22px;
  margin-right: 8px;
} */

.bouton1:hover {
  background-color: #deebff;
  color: #0065fc;
}

/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 4%;
  margin-bottom: 17px;
}
.inf {
  font-size: 17px;
  color: #0065fc;
  margin-right: 10px;
  border: 2px solid #f2f2f2;
  padding: 7px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 19px;
}
/*Les couleurs de la charte sont le bleu #0065FC, et sa version plus
 claire #DEEBFF ainsi que le gris pour le fond #F2F2F2.*/

/* hebergement marseille*/
.parti1 {
  display: flex;
  margin-left: 3%;
}
.contenant1 {
  width: 65%;
  height: 730px;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f2f2f2;
  border-radius: 2rem;
}
.titre1 {
  width: inherit;
  font-size: 17px;
  margin-left: 19px;
}
.contenant1 .box1 {
  position: relative;
  width: 30%;
  margin: 10px;
  display: inline-block;
  border-radius: 2rem;
}
.contenant1 .box1 .imgbox {
  position: relative;
}
.contenant1 .box1 .imgbox img {
  width: 100%;
  height: 241px;
  object-fit: cover;
  border-radius: 13px;
  border: 5px solid white;
  box-shadow: 4px 5px 11px gray;
}

/* effets pour les 3 box*/
.imgbox:hover {
  transform: translateY(-3px);
}
.imgbox2:hover {
  transform: translatex(-3px);
}

.xsize:hover {
  transform: translateY(-3px);
}
.smsize:hover {
  transform: translateY(-3px);
}

.size1 {
  width: 270px;
  height: 180px;
}
img {
  cursor: pointer;
}
.contenant1 .box1 .details {
  cursor: pointer;
  position: absolute;
  top: 62%;
  left: 5px;
  bottom: 8px;
  right: -5px;
  background: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* les plus poulaires*/
.toto{
  font-size: 22px;
}
.titre2 {
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 19px;
  margin-left: 19px;
  margin-right: 34px;
}
.contenant1 .box1 .details .blabla {
  position: absolute;
  top: -11%;
  left: 2%;
  color: black;
  font-size: 12px;
}
.contenant2 {
  width: 31%;
  height: 730px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 2rem;
 
}
.contenant2 .box2 {
  position: relative;
  width: 90%;
  border-radius: 2rem;
  margin-left: 16px;
  margin-bottom: 20px;
}
.contenant2 .box2 .imgbox2 {
  position: relative;
}
.contenant2 .box2 .imgbox2 img {
  width: 100%;
  height: 165px;
  border-radius: 12px;
  border: 5px solid white;
  box-shadow: 4px 5px 11px gray;
  object-fit: cover;
}
.size2 {
  width: 270px;
  height: 130px;
}
.contenant2 .box2 .details {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 54%;
  bottom: 4px;
  right: -6px;
  background: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.contenant2 .box2 .details .blabla2 {
  position: absolute;
  top: 0%;
  left: 5%;
  color: black;
  font-size: 11px;
}
.etoile{
  margin-bottom: 85px;
}
.etoile1{
  margin-bottom: 65px;
}
.etoile2{
  margin-bottom: 85px;
}
/*  icon etoile */
.active {
  color: #0065fc;
}
.desactive {
  color: #f2f2f2;
}

/* Footer*/
.end {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
}
.apropos {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 10%;
}
.nos_hebergements {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
}
.Assistance {
  display: flex;
  flex-direction: column;
}
.end .fin {
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.fin:hover {
  color: #0065fc;
}

/* activité marseille*/


.titre10{
  width: 50%;
  font-weight: bold;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 29px;
  margin-left: 53px;
}

.container{
  display: flex;
  height: auto;
  margin-left: 3%;
  margin-right: 2%;
}
.boc1{
  display: flex;
  width: 50%;
}
.room{
  position: relative;
  height: 250px;
}
.room1{
  position: relative;
  height: 220px;
}
.photogrande{
  width: 50%;
  height: 400px;
  position: relative;
}
.photo-port{
  position: absolute;
  z-index: 1;
  width: 95%;
  height: 400px;
  object-fit: cover;
  border-radius: 11px;
  box-shadow: 4px 5px 11px gray;
}
.photo2{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.image12{
  position: absolute;
  z-index: 1;
  width: 100%;
  height:250px ;
}
.photo-pomegues{
  width: 95%;
  height: 220px;
  object-fit: cover;
  border-radius: 11px;
  box-shadow: 4px 5px 11px gray;

}
.photo-frioul{
  object-fit: cover;
  width: 95%;
  height: 150px;
  object-fit: cover;
  border-radius: 11px;
  border-radius: 11px;
  box-shadow: 4px 5px 11px gray;

}
.photo-garde{
  object-fit: cover;
  width: 95%;
  height: 180px;
  border-radius: 11px;
  box-shadow: 4px 5px 11px gray;
}
.photo-longchamp{
  width: 95%;
  height: 180px;
  border-radius: 11px;
  box-shadow: 4px 5px 11px gray;
}
.commentaire{
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background-color: white;
  font-weight: bold;
  width: 95%;
  top: 88%;
  left: 0px;
  bottom: 0px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
.commentaire1{
  cursor: pointer;
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  font-weight: bold;
  width: 95%; 
  background-color: white;
  top: 70%;
  bottom: 30px;
}
.commentaire2{
  cursor: pointer;
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  font-weight: bold;
  width: 95%; 
  background-color: white;
  top: 41%;
  bottom: 100px;
}
.commentaire3{
  cursor: pointer;
  position: absolute;
  z-index: 2;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  font-weight: bold;
  width: 95%;
  background-color: white;
  top: 60%;
  bottom: 40px;
}
.commentaire p{
  margin-left: 10px;
}.commentaire1 p{
  margin-left: 10px;
}.commentaire2 p{
  margin-left: 10px;
}
.commentaire3 p{
  margin-left: 10px;
}


/* .iconfa{
    background: black;
} */

/* media queries */

/* @media all and (max-width: 350px)
{
    .body
    {
        width: auto;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: row;
    }

} */
@media screen and (max-width: 1656px){
.etoile2{
  margin-bottom: 64px;
}
}
@media screen and (max-width: 1621px){
  .etoile{
    margin-bottom: 64px;
  }
}



@media screen and (max-width: 1340px) {
  .box,
  .filtre,
  .info,
  .titre3, 
  .parti1,
  .header {
    margin-left: 0%;
  }
  .end {
    width: 100%;
    margin-left: 0%;
  }
  .apropos {
    margin-left: 5%;
  }
}
@media screen and (max-width: 1190px){
  .etoile1{
    margin-bottom: 63px;
  }

}
@media screen and (max-width: 1155px){
  .etoile1{
    margin-bottom: 66px;
  }
}
@media screen and (max-width: 1100px) {
  .header{
    width: 100%;
  }
  .bad{
    margin-right: 2%;
  }
  .parti1 {
    margin-left: 0%;
    display: flex;
    flex-direction: column-reverse;
  }
  .titre2 {
    font-size: 16px;
    justify-content: space-between;
    margin-left: 19px;
    margin-right: 17px;
  }

  .contenant2 {
    width: 100%;
    height: auto;
    margin-left: 0px;
    border-radius: 0rem;
  }
  .contenant2 .box2 {
    width: 90%;
    height: 240px;
    margin-left: 5px;
    border-radius: 0px;
    margin-left: 38px;
  }
  .contenant2 .box2 .imgbox2 img {
    width: 100%;
    height: 210px;
    border-radius: 12px;
  }
  .contenant2 .box2 .details {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 60%;
    bottom: 23px;
    right: -6px;
  }
  .contenant2 .box2 .details .blabla2 {
    position: absolute;
    top: 0%;
    left: 6%;
    color: black;
    font-size: 12px;
  }
  .etoile{
    margin-bottom: 115px;
  }
  .etoile1{
    margin-bottom: 104px;
  }
  .etoile2{
    margin-bottom: 115px;
  }
  .parti2 {
    height: auto;
    margin-left: 5%;
    display: flex;
    margin-bottom: 28px;
  }
  .parti1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .contenant1 {
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: none;
    align-items: center;
  }
  .contenant1 .box1 {
    position: relative;
    width: 92%;
    height: 310px;
    margin: 10px;
    display: inline-block;
    border-radius: 2rem;
  }
  .contenant1 .box1 .imgbox img {
    width: 100%;
    height: 290px;
  }
  .contenant1 .box1 .details {
    top: 70%;
    left: 4px;
    bottom: 14px;
    right: -6px;
   
  }
  .contenant1 .box1 .details .blabla {
    top: -11%;
    left: 2%;
    font-size: 11px;
  }
  .titre1 {
    width: inherit;
    font-size: 16px;
    margin-left: 44px;
  }
  
  
  .apropos {
    margin-left: 4%;
  }
  .container{
    flex-direction: column;
    margin-left: 3%;
  }
  .boc1{
    width: 100%;
  }
  .titre10{
    font-weight: bold;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 29px;
    margin-left: 34px;
  }
}


@media screen and (max-width: 780px) {
  body {
  }
  .title {
    margin-left: 17px;
  }
  .logo {
    display: block;
  }
  .header{
    align-items: unset;
    flex-direction: column;
    margin-left: 0%;
  }
  #inscrire {
    display: none;
  }
  .bad{
    display: block;
    margin-right: 0%;
  }
  .navbar {
    
    display: flex;
    flex-direction: column;
  }
  .navbar ul {
    width: 100%;
    margin-left: 0px;
    padding: 0 0 0 0;
  }
  .navbar ul li {
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
  .navbar ul li a:hover {
    border-bottom: 1px solid#0065FC;
    border-top: none;
  }
  .navbar ul li a{
    margin: 0px;
  }
  .box {
    margin-left: 0px;
    text-align: center;
  }
  .recherche{
    justify-content: center;
  }
  .filtre {
    margin-left: 0%;
    display: flex;
    flex-wrap: wrap;
  }
  .bouton1{
    font-size: 15px;
    margin-left: 8px;
    margin-bottom: 8px;
    font-weight: 900;
  }
  #rch {
    display: none;
  }
  .btnsearch .fas {
    display: block;
  }
  .inf {
    font-size: 13px;
    margin-right: 10px;
    margin-top: 0px;
  }
  .info {
    display: flex;
    align-items: center;
    margin-left: 2%;
    font-size: 17px;
  }
  .parti1 {
    margin-left: 0%;
    display: flex;
    flex-direction: column-reverse;
  }
  .contenant1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background: none;
  }
  .contenant1 .box1 {
    position: relative;
    width: 94%;
    height: 310px;
    margin: 10px;
    display: inline-block;
    border-radius: 2rem;
  }
  .contenant1 .box1 .imgbox img {
    width: 97%;
    height: 290px;
  }
  .contenant1 .box1 .details {
    top: 73%;
    left: 4px;
    bottom: 14px;
    right: 6px;
  }
  .contenant1 .box1 .details .blabla {
    top: -19%;
    left: 2%;
    font-size: 11px;
  }
  .titre1 {
    width: 94%;
    font-size: 14px;
    margin-left: 14px;
  }
  .titre2 {
    font-size: 14px;
    justify-content: space-between;
    margin-left: 27px;
    margin-right: 26px;
  }

  .contenant2 {
    width: 100%;
    height: auto;
    margin-left: 0px;
    border-radius: 0px;
  }
  .contenant2 .box2 {
    width: 92%;
    height: 240px;
    margin-left: 3%;
  }
  .contenant2 .box2 .imgbox2 img {
    width: 100%;
    height: 210px;
    border-radius: 12px;
  }
  .contenant2 .box2 .details {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 60%;
    bottom: 23px;
    right: -6px;
  }
  .contenant2 .box2 .details .blabla2 {
    position: absolute;
    top: 0%;
    left: 6%;
    color: black;
    font-size: 13px;
  }
  .etoile1{
    margin-bottom: 85px;
  }
  .parti2 {
    height: auto;
    margin-left: 5%;
    display: flex;
    
  }
  .titre3 {
    margin-left: 4%;
  }
  .bloc4 {
    width: 92%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .xsize {
    width: 319px;
    height: 237px;
  }
  .smsize {
    width: 319px;
    height: 237px;
  }
  .blabla3 {
    bottom: 4px;
    top: 80%;
    right:-135px;
    font-size: 11px;
  }
  .titi2{
    margin-bottom: 0px;
  }
  .blabla4{
    right: -220px;
    bottom: 4px;
  }
  .end {
    width: 100%;
    margin-left: 0%;
    font-size: 14px;
  }
  
  .Assistance {
    margin-left: 3%;
  }
  .nos_hebergements{
    margin-right: 3%;
    margin-left: 3%;
  }
  .apropos{
    margin-left: 1%;
    margin-right: 1%;
  }
  .allo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 4%;
  }
  .ins{
    display: block;
    color: blue;
    font-weight: bold;
    text-decoration: none;
  }
  .boc1{
    flex-direction: column;
  }
  .photogrande{
    width: 100%;
    height: 280px;
    margin-bottom: 25px;
  }
  .photo-port{
    height: 280px;
  }
  .photo2{
    width: 100%;
  }
  .photo-pomegues{
    height: 280px;
  }
  .photo-frioul{
    height: 280px;
  }
  .room{
    height: 300px;
  }
  .commentaire1{
    bottom: 20px;
    top:75%;
  }
  .commentaire{
    top: 81%;
  }
  .commentaire2{
    bottom: 20px;
    top: 75%;
  }
  .room1{
    height: 300px;
  }
  .photo-garde{
    height: 280px;
  }
  .commentaire3{
    bottom: 20px;
    top: 75%;
  }
  .photo-longchamp{
    height: 280px;
  }
}
@media screen and (max-width: 673px){
  .etoile2{
    margin-bottom: 110px ;
  }
}
@media screen and (max-width: 659px){
  .etoile{
    margin-bottom: 85px;
  }
}
@media screen and (max-width: 656px){
  .etoile2{
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 642px){
  .etoile{
    margin-bottom: 95px;
  }
  .end{
    font-size: 13px;
  }
}

@media screen and (max-width: 557px) {
  .end {
    width: 100%;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    font-size: 13px;
  }
  .inf{
    margin-top: -17px;
  }
  .parti2{
    flex-direction: column;
  }
  
  .contenant2 .box2{
    height: 191px;
    margin-left: 10px;
  }
  .contenant2 .box2 .imgbox2 img{
    height: 180px;
    
  }
  .contenant2 .box2 .details{
    top: 1px;
    left: 53%;
    bottom: 4px;
  }
  .contenant2 .box2 .details .blabla2{
    font-size: 12px;
  }
  .etoile{
    margin-bottom: 90px;
  }
  #inscrire {
    display: none;
  }
  .change{
    display: flex;
  }
  .contenant1 .box1{
    height: 230px;
  }
  .contenant1{
    align-items: center;
  }
  .contenant1 .box1 .imgbox img {
    height: 228px;
  }
  .contenant1 .box1 .details{
    top: 69%;
    bottom: -6px;
  }
  .bouton1{
    margin-left: 5px;
    font-size: 14px;
  }
  .navbar{
    width: 100%;
  }
  .logo{
    
  }
  .parti2{
    margin-left: 0%;
  }
  .xsize{
    margin-right: 0px;
    width: 390px;
    margin-left: 10px;
  }
  .smsize{
    width: 390px;
    margin-left: 10px;
  }
  .contenant2{
    width: 100%;
    margin-left: 0%;
    border-radius: 0;
    align-items: initial;
  }
  .blabla5{
    right: -297px;
    top: 80%;
    bottom: 4px;
    left: 10px;
  }
  .blabla3{
    top: 78%;
    right: -210px;
    bottom: 4px;
  }
  .blabla4{
    left: 10px;
    right: -297px;
    bottom: 4px;
  }
  .apropos{
    margin-left: 5%;
  }
  .titi2{
    margin-bottom: 0px;
  }
  .nos_hebergements{
    margin-left: 5%;
  }
  .Assistance{
    margin-left: 5%;
  }
}
@media screen and (max-width: 498px){
  .etoile2{
    margin-bottom: 76px;
  }
  .etoile{
    margin-bottom: 76px;
  }
}
@media screen and (max-width: 476px){
  .etoile2{
    margin-bottom: 75px;
  }

}
@media screen and (max-width: 466px){
  .etoile{
    margin-bottom: 75px;
  }
  .input{
    width: 68%;
  }
}
@media screen and (max-width: 380px){
  
  header{
    width: 100%;
  }
  .bouton1{
    font-size: 12px;
  }
}